spring:
  application:
    name: my-shop
  profiles:
    active: local
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    # HikariCP 설정 추가
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: MyShopHikariPool

  # 파일 업로드 설정
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
    file:
      upload-dir: src/main/resources/static/uploads/products

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.my_shop: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

jwt:
  secret: bXlzaG9wLWp3dC1zZWNyZXQta2V5LWZvci1obWFjLXNoYS0yNTYtYWxnb3JpdGhtLXNlY3VyaXR5