spring:
  application:
    name: my-shop
  profiles:
    active: local
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

server:
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.my_shop: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

jwt:
  secret: bXlzaG9wLWp3dC1zZWNyZXQta2V5LWZvci1obWFjLXNoYS0yNTYtYWxnb3JpdGhtLXNlY3VyaXR5
